whitelist_manager_workflow.json
{
  "name": "Whitelist Manager - Add Contact",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whitelist-add",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wl_webhook",
      "name": "Whitelist Add Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "whitelist-manager-add",
      "notes": "Receives POST from the HTML button form. Payload: { phone, name, tag, secret }"
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// NODE: Validate & Sanitize Add-Contact Request\n// ═══════════════════════════════════════════════════\n\nconst body = $input.first().json.body || $input.first().json;\n\nconst secret = (body.secret || '').trim();\nconst phone = (body.phone || '').trim().replace(/[^0-9+]/g, '');\nconst name = (body.name || '').trim().replace(/[<>\"']/g, ''); // basic XSS strip\nconst tag = ['Client', 'Personal'].includes(body.tag) ? body.tag : 'Personal';\n\n// Auth check: must match the WHITELIST_SECRET env variable\nif (secret !== $vars.WHITELIST_SECRET) {\n  return [{\n    json: {\n      __valid: false,\n      error: 'Unauthorized: Invalid secret.'\n    }\n  }];\n}\n\n// Phone validation\nif (!phone || phone.length < 7 || phone.length > 15) {\n  return [{\n    json: {\n      __valid: false,\n      error: 'Invalid phone number. Must be 7-15 digits.'\n    }\n  }];\n}\n\nif (!name) {\n  return [{\n    json: {\n      __valid: false,\n      error: 'Name is required.'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    __valid: true,\n    phone,\n    name,\n    tag,\n    addedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "wl_validate",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "valid_check",
              "leftValue": "={{ $json.__valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wl_if_valid",
      "name": "Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $vars.GOOGLE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Whitelist",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Phone": "={{ $json.phone }}",
            "Name": "={{ $json.name }}",
            "Tag": "={{ $json.tag }}",
            "Status": "Active",
            "AddedAt": "={{ $json.addedAt }}"
          }
        },
        "options": {}
      },
      "id": "wl_append_sheet",
      "name": "Add to Whitelist Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [860, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google_sheets_cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"✅ {{ $('Validate Request').first().json.name }} ({{ $('Validate Request').first().json.phone }}) added as {{ $('Validate Request').first().json.tag }} contact.\"\n}",
        "options": { "responseCode": 200 }
      },
      "id": "wl_respond_success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"error\": \"{{ $json.error }}\"\n}",
        "options": { "responseCode": 400 }
      },
      "id": "wl_respond_error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 500]
    }
  ],
  "connections": {
    "Whitelist Add Webhook": {
      "main": [
        [{ "node": "Validate Request", "type": "main", "index": 0 }]
      ]
    },
    "Validate Request": {
      "main": [
        [{ "node": "Is Valid?", "type": "main", "index": 0 }]
      ]
    },
    "Is Valid?": {
      "main": [
        [{ "node": "Add to Whitelist Sheet", "type": "main", "index": 0 }],
        [{ "node": "Respond Error", "type": "main", "index": 0 }]
      ]
    },
    "Add to Whitelist Sheet": {
      "main": [
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["whatsapp", "whitelist-manager", "webcorps"],
  "triggerCount": 1,
  "updatedAt": "2026-04-04T00:00:00.000Z",
  "versionId": "1.0.0"
}
